/* Import Bootstrap first to avoid some Tailwind conflicts; custom rules should go after */
@import "bootstrap/dist/css/bootstrap.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Place your custom overrides below - they will take precedence */

body {
    font-family: "Cinzel", serif;
}
.logo {
    width: 100px;
}
img {
    max-height: 600px;
}
.header {
    background-color: #bf9b6e;
    border-radius: 0 0 25px 25px;
    position: fixed;
    top: 0px;
    z-index: 900;
    width: 100%;

    box-shadow: 0px 10px 10px grey;
}

a {
    color: #340604;
    text-decoration: none;
    transition: 0.5s;
    font-family: "Cinzel", serif;
}
.menus-deroulant {
    height: 100%;
    /* width: 222px; */
    text-align: center;
    align-content: center;
    font-size: 30px;
    transition: 0.5s;
    margin-left: 10px;
}
.menus-deroulant img {
    width: 50px;
}
.dropdown-toggle {
    padding: 10px;
}
/* .dropdown-menu {
  width: 222px;
} */
.droite {
    border-radius: 0 0 25px 0px;
}
.menus-deroulant:hover {
    border-radius: 25px 25px 0px 0px;
    height: 100%;
    background-color: #340604;
    transition: 0.5s;
}
.menus-deroulant:hover a {
    color: #bf9b6e;
    transition: 0.5s;
}
.droite:hover {
    border-radius: 25px 25px 25px 0px;
}
.boutton-header {
    float: right;
    height: 135px;
}
.acceuil img {
    width: 100%;
}
.acceuil {
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 10px 5px 5px grey;
}
.separation {
    background-color: #bf9b6e;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 25px;
}
.footer {
    padding: 40px;
    width: 100%;
    height: 300px;
    background-color: #bf9b6e;
    border-radius: 25px 25px 0px 0px;
    color: #340604;
}
.footer img {
    float: left;
    width: 40px;
    margin-right: 10px;
}

.logIn-User {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;
    border: 2px solid #340604;
    width: 500px;
    border-radius: 25px;
    padding: 40px;
    box-shadow: 10px 10px 5px grey;
}

.logIn-User input {
    border-radius: 10px;
    border: 1px solid #340604;
}
.first {
    margin-top: 200px;
}
.titre {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    background-color: #bf9b6e;
    border-radius: 25px;
    width: auto;
    border: 2px solid #340604;
    padding: 10px;
    box-shadow: 10px 5px 5px grey;
}
.ea {
    font-size: 20px;
}
.sousPres {
    border-color: #340604;
    border-bottom: 2px solid #340604;
    border-left: 2px solid #340604;
    border-right: 2px solid #340604;
    border-top: none;
    border-radius: 25px;
    padding: 5px;
    width: auto;
}

.amenagement img {
    max-height: 600px;
    width: 100%;
    position: relative;
    top: -10px;
    z-index: -1;
}

.amenagement {
    box-shadow: 0px 10px 5px grey;
}
